html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.testing-exit {
  opacity: 1;
}
.testing-exit-active {
  opacity: 0;
  transition: opacity 1s;
}
.testing-exit-done {
}

.testing-enter {
  transform: scale(0.1);
}
.testing-enter-active {
  transform: scale(1);
  transition: transform 2s ease;
}
.testing-enter-done {
  display: inline-block;
}

.testing-appear {
  transform: scale(0.1);
}
.testing-appear-active {
  transform: scale(1);
  transition: transform 2s ease;
}
.testing-appear-done {
  display: inline-block;
}
